body{
  background-color: #eee;
  font-family: 'Raleway', sans-serif;
}
*{
  box-sizing: border-box;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow:nowrap;
  justify-content: space-around;
}

.flex-item {
  /*width: 6.25%;*/
  height: 20px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.stepBt{
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  font-size: 0.66rem;
}

.current{border: 1px solid red;}

.stepOn{
  color:#fff;
  background-color: #222;
}
.stepOff{
  color:#222;
  background-color: #ccc;
}
